@import url('./rootcss.css');

.employee-row {
  background-color: var(--white);
  box-shadow: 0 4px 8px var(--shadow-light);
  margin-bottom: 10px;
  border-radius: 6px;
  transition: transform 0.2s;
}

.employee-row:hover {
  background-color: var(--hover-bg);
  transform: scale(1.01);
}

.employee-row td {
  padding: 15px;
  background-color: var(--white);
  border-bottom: none;
}

.employee-table tbody .employee-row:not(:last-child) {
  margin-bottom: 10px;
}

.btn {
  padding: 8px 14px;
  margin: 0 6px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn-profile {
  background-color: var(--blue);
  color: var(--button-text-color);
}

.btn-delete {
  background-color: var(--red);
  color: var(--button-text-color);
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}