@import url('./rootcss.css');

.home-container {
  height: calc(100vh - 70px);
  display: grid;
  justify-content: center;
  align-items: center;
  /* background-color: var(--homepage-background); */
  /* background-color: var(--green); */
  font-family: Arial, sans-serif;
}

.home-container h2 {
  background-color: black;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 30px var(--black);
  font-size: 4rem;
  color: var(--green);
  text-shadow: 3px 3px 3px var(--white);
}