@import url('./rootcss.css');

.container {
  height: calc(100vh - 70px);
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container h2 {
  background-color: black;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 30px var(--black);
  font-size: 4rem;
  color: var(--green);
  text-shadow: 3px 3px 3px var(--white);
}